.login-button{
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

.login_icon{
  cursor: pointer;

}

.login-button div{
  margin-left: 10px;
}

.logo{
  display: flex;
  justify-content: center;
}

.item_map{
  list-style: none;
  display: flex;
  justify-content: center;
}

.item_map li{
  margin-right: 20px;
  cursor: pointer;
}

.search-input{
  display: flex;
  justify-content: right;
  margin-right: 30px;
}

.search-input input{
  border: none;
  border-bottom: 1px solid black;
}

.product_img{
  display: flex;
  justify-content: flex-end;
}

.product_detail_button{
  width: 100%;
  border: none;
  background-color: black;
  color:  white;
  margin-top: 50px;
}

.concious{
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}